@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}

body {
	background-color: #CCC;
	padding: 0px;
	margin: 0px;
	height: 100%;
	clear: both;
}

#header {
	background-color: #333333;
	color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #FFF;
	position: fixed;
    width: 100%;
    z-index: 100
}

#h1 {
	font-family: "Comic Sans MS", cursive;
	font-size: x-large;
	height: 100%;
	width: 100%;
}

#content {
	background-color: #F00;
	overflow: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#section{
	background-color: #00F;
	padding: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
}

#footer {
	background-color: #333;
	width: 100%;
	color: white;
	clear: both;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	position:fixed;
	bottom:0;
}

#nav {
	width: 20%;
	height: 100%;
	font-size: 18px;
	float: left;
	padding: 0px;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	height: 100%;
	width: 20%;
}


#nav li a {
	display: block;
	padding: 10px 10px;
	color: white;
	text-align: center;
	height: 30px;
}

#nav li a:hover {
    background-color: #111;
}

#nav li a:active {
	background-color: #4CAF50;
	color: #F00;
}

#info {
	width 40%
	
}
